.hero__content--text {
    margin-top: 100% !important;
    top: 0% !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.hero__ctas {
    display: block !important;
    position: relative !important;
}