.product-grid-item .product__grid__info--under {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.product__grid__title {
    line-height: 145% !important;
    margin: 0px !important;
}