.nikeImagesDiv img {
    height: auto;
    width: 50% !important;
}

.natural_product>.js-cluster {
    display: flex !important;
}

.zpa-mobile-offset-bottom-xsm .zp {
    display: none !important;
}