.mobileMenuImage {
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.menu-drawer__menu-item .icon-caret {
    height: 16px !important;
    right: 20px !important;
}