.swiper-destroyed [data-comp="ProductImagesThumbs"],
.hidden {
    display: none !important;
}

[data-comp="BackpackImageRatio"]>span {
    width: 100% !important;
    height: 100% !important;
}

.swiper-container {
    max-width: unset !important;
}

.swiper-destroyed .swiper-wrapper {
    flex-wrap: wrap;
    height: auto;
}

.swiper-destroyed .swiper-slide {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    padding: 10px;
    text-align: center;
    height: auto !important;
}