.pdp__images {
    margin-top: -10px;
}

.carousel-nav,
.carousel-main {
    padding: 0px 10px;
    display: inline-grid !important;
    grid-template-columns: none !important;
}


.carousel-nav {
    width: 20%;
}

.carousel-nav img {
    margin: 0px 5px 10px 5px;
}

.carousel-main {
    width: 80%;
}

@media only screen and (min-width: 1300px) {
    #pdp {
        padding: 0px 10%;
    }

    .pdp__content__inner {
        padding: 0px 25px !important;
    }
}