.findMySizeLink {
    cursor: pointer;
    text-align: center;
    padding: 10px 30px;
    font-weight: bold;
    font-family: Ferry Black, Arial Black, sans-serif;
    text-transform: uppercase;
    margin: 5px auto 0px auto;
    width: auto;
    letter-spacing: 0.12em;
    display: block;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    border-top-style: solid !important;
    border-right-style: solid !important;
    border-left-style: solid !important;
    border-top-color: black !important;
    border-right-color: black !important;
    border-left-color: black !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
    border-bottom: 2px solid black !important;
    margin-top: 5px !important;
}