.product-feature,
.artwork-desc,
.product-desc {
    max-width: 200px;
    text-overflow: initial !important;
    white-space: break-spaces !important;
    overflow: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}