.prod-grid-images, 
.prod-img-first {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.product--image {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    object-position: -10px -10px;
}

#productFeature [data-product-image-wrapper] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: -50px;
}

#productFeature .splide__slide img {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    object-position: -25px -25px;
}


#CollectionSection .grid-product__image-link {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: -50px;
}

#CollectionSection .splide__slide img {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    object-position: -25px -25px;
}