.prod-grid-images,
.prod-img-first {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.product--image {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    object-position: -10px -10px;
}

#productFeature [data-product-image-wrapper] {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -50px;
}

#productFeature .splide__slide img {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    object-position: -25px -25px;
}

#CollectionSection .grid-product__image-link {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -50px;
}

#CollectionSection .splide__slide img,
.grid-product__image-link {
    width: calc(100% + 50px) !important;
    height: calc(100% + 50px) !important;
    object-position: -25px -25px !important;
}

@media only screen and (max-width: 600px) {

    #CollectionSection .splide__slide img,
    #CollectionSection .grid-product__image-link {
        width: calc(100% + 30px) !important;
        height: calc(100% + 30px) !important;
        object-position: -15px -15px !important;
    }

    #CollectionSection .grid-product__image-link {
        margin-bottom: -30px;
    }
    
}