/* Single grandparent */

.grid-product:not([data-tags*="bonsai_excluded"]) .product--wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Carousel parent */

.grid-product:not([data-tags*="bonsai_excluded"]) .splide .grid-product__image-link {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -50px;
    width: calc(100% + 50px) !important;
    height: calc(100% + 50px) !important;
}

/* Single parent */

.grid-product:not([data-tags*="bonsai_excluded"]) .prod-grid-images {
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(100% + 50px) !important;
    height: calc(100% + 50px) !important;
}

/* PDP parent */

#productFeature [data-product-image-wrapper] {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -50px;
}

/* Carousel image */

.grid-product:not([data-tags*="bonsai_excluded"]) .splide__slide img,
#productFeature .splide__slide img {
    width: calc(100% + 50px) !important;
    height: calc(100% + 50px) !important;
    object-position: -25px -25px !important;
}

/* Single image */

.grid-product:not([data-tags*="bonsai_excluded"]) .product--image {
    width: calc(100% + 50px) !important;
    height: calc(100% + 50px) !important;
    object-position: -25px -25px !important;
}

@media only screen and (max-width: 600px) {

    #productFeature .splide__slide img,
    .grid-product:not([data-tags*="bonsai_excluded"]) .splide .grid-product__image-link,
    .grid-product:not([data-tags*="bonsai_excluded"]) .prod-grid-images,
    .grid-product:not([data-tags*="bonsai_excluded"]) .product--image {
        width: calc(100% + 30px) !important;
        height: calc(100% + 30px) !important;
        object-position: -15px -15px !important;
    }

    .grid-product:not([data-tags*="bonsai_excluded"]) .splide .grid-product__image-link {
        margin-bottom: -30px;
    }
    
}