.product_image a {
    position: relative;
    display: block;
}

.product_image .image__container:nth-of-type(1) {
    display: none !important;
    transition-duration: 0s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: none !important;
}

.product_image .image__container:last-of-type {
    display: block !important;
    transition-duration: 0s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: none !important;
}

.image__container .secondary {
    display: block !important;
    transition-duration: 0s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: none !important;
}

.product_image.toggle-images .image__container:nth-of-type(1) {
    display: block !important;
    transition-duration: 0s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: none !important;
}

.product_image.toggle-images .image__container:nth-of-type(1) img {
    display: block !important;
    transition-duration: 0s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: none !important;
}

.product_image.toggle-images .image__container:last-of-type {
    display: none !important;
    transition-duration: 0s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important;
    transition-property: none !important;
}