.scroll-locked body {
    overflow: hidden;
}

[data-comp="UpSellsBlock"] {
    order: 3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -20px 20px 0px;
    padding: 15px 5px !important;
}

[data-comp="UpSellsBlock"] .swiper-slide {
    flex-shrink: unset;
}

.upsellsHeader {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

[data-comp="UpSellProduct"] {
    min-height: 150px;
    justify-content: space-between;
    flex-direction: column !important;
    align-items: center !important;
    padding-left: 5px !important;
    padding-right: 5px !important
}

[data-comp="UpSellProduct"]>div {
    flex: none;
    padding-right: 5px !important
}

[data-comp="UpSellProduct"]>div>div {
    justify-content: center;
}

[data-comp="UpSellProduct"] [data-comp="Link-Internal"] {
    height: 24px;
    flex: 1 0 0;
    margin-top: 15px;
    text-align: center;
    font-size: 13px !important;
}

[data-comp="UpSellProduct"] [data-comp="AddToCart"] button {
    height: 40px !important;
    line-height: 38px !important;
    min-width: 135px !important;
    padding: 0px 10px !important;
}

[data-comp="UpSellProduct"] p {
    display: none !important;
}

[data-comp="UpSellProduct"] [data-comp="Image"] {
    width: 48px !important;
    height: 60px !important;
    margin: 0px 0px 5px !important;
}

[data-comp="SidebarShell"] [data-comp="Footer"] {
    background: white;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
}

[data-comp="SidebarShell"] [data-comp="Footer"] > div {
    min-height: 100px !important;
}

[data-comp="SidebarShell"] [data-comp="ItemsOrEmpty"] {
    justify-content: space-between;
    height: calc(var(--viewport-height) - 205px);
    overflow-y: auto;
}

[data-comp="SidebarShell"] [data-comp="LineItems"] {
    overflow: initial !important;
}

[data-comp="SidebarShell"] [data-comp="Empty"] {
    justify-content: flex-start;
    flex: 1 1 0%;
}

.swiperExists {
    height: 100% !important;
    /* max-height: calc(100vh - 425px) !important; */
}

.swiperEmpty {
    min-height: calc(100vh - 130px) !important;
}

.swiperEmpty [data-comp="UpSellsBlock"] {
    display: none;
}

.v1 [data-comp="UpSellProduct"]>div>p {
    display: none !important;
}

.v1 .swiper-button-next::after,
.v1 .swiper-button-prev::after {
    font-weight: bold !important;
    font-size: 18px !important;
}