[data-comp="MobileCollectionsNav"],
section[data-comp="imageHero"],
section[data-comp="collection-hero"] {
    display: none !important;
}

.subCategoriesCarousel {
    text-align: center;
    max-width: 1050px;
    padding: 10px !important;
}

.test_variant_2 .subCategoriesCarousel .swiper-slide {
    margin: 0px auto;
    width: auto !important;
}

.subCategoriesCarouselTitle {
    font-size: 24px;
    font-weight: 500;
    padding: 10px !important;
}

.test_variant_1 .subCategoriesCarouselHeader {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 14px;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    margin-bottom: 2.5px;
}

.subCategoriesCarouselDescription {
    font-size: 12px;
}


@media only screen and (max-width: 768px) {
    .test_variant_2 .subCategoriesCarousel .swiper-slide {
        margin: 0px 8px 0px 0px !important;
    }

    .test_variant_2 .subCategoriesCarousel .subCategoriesCarouselHeader {
        padding: 5px 15px;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 14px;
    }
}